<section class="changyan" id="comments">
    <div id="SOHUCS"></div>
    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
         var loadComment = function(){
                window.changyan.api.config({
                appid: 'cyuuOBNzC',
                conf: '05ed1cc49d0894b5dee58cff704453ab'
                });
        }
    </script>
    <%- partial('click2show') %>
</section>
